<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decent Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

    <nav class="bg-blue-500 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <h2 class="text-white text-xl">TRIEMPHED</h2>
            <ul class="flex space-x-7">
                <% if (user.type==='seller' ) { %>
                    <li><a href="/sell" class="text-white">Sell</a></li>
                    <% } %>
                        <li><a href="/cart" class="text-white">Cart</a></li>
                        <li><a href="/orders" class="text-white">Orders</a></li>
                        <li><a href="/wishlist" class="text-white">Wishlist</a></li>
                        <li><a href="/profile" class="text-white">profile</a></li>
                        <li><a href="/logout" class="text-white">Log-Out</a></li>
            </ul>
        </div>
    </nav>

    <section class="py-10 px-5">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
                <% products.forEach(function(product){ %>
                    <a href="/buyItem/<%= product.id %>">
                        <div class="bg-white rounded-lg shadow-md overflow-hidden">
                            <img src="/images/uploads/<%= product.image %>" alt="Product"
                                class="w-full h-64 object-cover object-center">
                            <div class="p-4">
                                <h3 class="font-bold text-lg mb-2">
                                    <%= product.productName %>
                                </h3>
                                <p class="text-gray-600">$ <%= product.price %>
                                </p>
                            </div>
                        </div>
                    </a>
                    <% }) %>
            </div>
        </div>
    </section>

</body>

</html>